PyQt5>=5.15.0
PyYAML>=6.0
Pillow>=8.0.0
#torch：https://pytorch.org/get-started/locally/
#torchvision
numpy>=1.19.0
pandas>=1.1.0
onnx==1.19.0
onnxslim==0.1.68
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2

# YOLO模型训练相关依赖（支持YOLOv8和YOLO11）
ultralytics>=8.0.0