{
    "conda_env": "yolo",
    "yaml_path": "path/to/your/data.yaml",
    "model_version": "YOLOv8",
    "model_category": "普通检测模型",
    "model_type": "yolov8n",
    "pretrained": true,
    "use_custom_model": false,
    "custom_model_path": "",
    "epochs": 100,
    "batch_size": 16,
    "img_size": 640,
    "project_path": "",
    "name": "exp",
    "optimizer": "SGD",
    "lr0": 0.01,
    "lrf": 0.01,
    "momentum": 0.94,
    "weight_decay": 0.0,
    "augment": true,
    "hsv_h": 0.01,
    "hsv_s": 0.7,
    "hsv_v": 0.4,
    "degrees": 0.0,
    "translate": 0.1,
    "scale": 0.5,
    "fliplr": 0.5,
    "mosaic": 1.0,
    "patience": 100,
    "workers": 8,
    "device": "0",
    "cos_lr": true,
    "cache": false
}

